img.rarity {
	height: 32px;
	width: 48px;
}

img.element {
	height: 64px;
	width: 64px;
}

img.thumb {
	height: 62px;
	width: 75px;
}

img.thumbHalf {
	height: 94px;
	width: 113px;
}

img.thumbFull {
	height: 125px;
	width: 150px;
}

img.calque {
	background-color: rgba(255, 255, 255, 0.5);
}

img.classe {
	height: 48px;
}

img.links {
	height: 24px;
	width: 36px;
}