<!DOCTYPE html>

<html lang="en" data-ng-app="dokkanModule">
<head>
	<title>Dokkan</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/dokkan/style.css">
	
	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/lodash.js"></script>
	<script type="text/javascript" src="js/arko/common.js"></script>
	
	<script type="text/javascript" src="js/jquery.dataTables-1.10.9.min.js"></script>
	<script type="text/javascript" src="js/jquery.dataTables.columnFilter-1.5.6.js"></script>
	<script type="text/javascript" src="js/angular-resource.js"></script>
	<script type="text/javascript" src="js/angular-datatables.min.js"></script>
	<script type="text/javascript" src="js/angular-datatables.columnfilter.min.js"></script>

	<script type="text/javascript" src="js/dokkan/dokkan-controller.js"></script>
	<script type="text/javascript" src="js/dokkan/dokkan-service.js"></script>
	<script type="text/javascript" src="js/arko/http-service.js"></script>
</head>

<body role="document" >
	<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="index.html">Dokkan view</a></li>
					<li><a href="world.html">World map</a></li>
					<li><a href="command.html">Commandes</a></li>
					<li><a href="test.html">test</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container" role="main">
		<div data-ng-controller="dokkanController" class="row">
			<div class="col-xs-12 col-md-5">
				<div class="bg-silver text-center" style="align:center" >
					<span class="text-center">Search cards</span>
					<br/>
					<input data-ng-blur="changeCardName($event)" size="36" placeholder="card or character name" type="text" />
					<br/>
					<select data-ng-blur="changeCategory($event)"><option value="-1">- Category -</option><option data-ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option></select>
					<br/>
					<select data-ng-blur="changeLink($event)"><option value="-1">- Link -</option><option data-ng-repeat="link in links | orderBy:'name'" value="{{link.id}}">{{link.name}}</option></select>
					<br/>
					<img data-ng-click="toggleRarity($event, 'N')" class="rarity" src="images/dokkan/n.png" alt="n" />
					<img data-ng-click="toggleRarity($event, 'R')" class="rarity" src="images/dokkan/r.png" alt="r" />
					<img data-ng-click="toggleRarity($event, 'SR')" class="rarity" src="images/dokkan/sr.png" alt="sr" />
					<img data-ng-click="toggleRarity($event, 'SSR')" class="rarity" src="images/dokkan/ssr.png" alt="ssr" />
					<img data-ng-click="toggleRarity($event, 'UR')" class="rarity" src="images/dokkan/ur.png" alt="ur" />
					<img data-ng-click="toggleRarity($event, 'LR')" class="rarity" src="images/dokkan/lr.png" alt="lr" />
					<br/>
					<img data-ng-click="toggleElement($event, 'AGL')" class="element" src="images/dokkan/agl.png" alt="agl" />
					<img data-ng-click="toggleElement($event, 'TEQ')" class="element" src="images/dokkan/teq.png" alt="teq" />
					<img data-ng-click="toggleElement($event, 'INT')" class="element" src="images/dokkan/int.png" alt="int" />
					<img data-ng-click="toggleElement($event, 'PHY')" class="element" src="images/dokkan/phy.png" alt="phy" />
					<img data-ng-click="toggleElement($event, 'STR')" class="element" src="images/dokkan/str.png" alt="str" />
					<br/>
					<img data-ng-click="toggleClasse($event, 'SUPER')" class="classe" src="images/dokkan/super.png" alt="super" />
					<img data-ng-click="toggleClasse($event, 'EXTREME')" class="classe" src="images/dokkan/extreme.png" alt="extreme" />
				</div>
				<br/>
				<div data-ng-if="cardSelected" class="bg-silver text-center" style="align:center" >
					<h3>{{cardSelected.name}}</h3>
					<table>
						<tr><td><b>Lead :</b> {{cardSelected.leaderSkill.description}}</td></tr>
						<tr><td><b>Passive :</b> {{cardSelected.passiveSkill.description}}</td></tr>
						<tr><td><b>Super Attack :</b> {{cardSelected.specialId}}</td></tr>
						<tr>
							<td>
								<b>Links :</b> <span data-ng-repeat="link in cardSelected.linkSkills" title="{{link.description}}">{{link.name}}, </span>
							</td>
						</tr>
						<tr><td><b>Categories :</b> <span data-ng-repeat="category in cardSelected.cardCategories">{{category.name}}, </span></td></tr>
						<tr><td><b>Stats :</b> HP : {{cardSelected.hpMax}}, ATK : {{cardSelected.atkMax}}, DEF : {{cardSelected.defMax}}</td></tr>
					</table>
				</div>
			</div>
			<div class="col-xs-12 col-md-7">
				<div class="bg-silver text-center" style="align:left" >
					<p data-ng-repeat="cardsGroup in cardsGroups">
						<span class="thumbHalf" data-ng-repeat="card in cardsGroup">
							<img data-ng-click="displayCard(card.id)" class="thumbHalf" src="images/thumbs/{{card.id}}_thumb.png" alt="N/A" title="{{card.name}}, cost {{card.cost}}"/>
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
